{% extends 'base.twig' %}

{% block content%}

    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Название жанра</label>
            <input type="text" class="form-control" id="AddGenreInput" placeholder="Наименование жанра">
        </div>


        <div class="form-group">
            <div id="AddGenreButton" data-genre-id="{{  genre.genreID }}" class="btn btn-primary">Добавить</div>
        </div>
        <label id="ResultAddGenreLabel"></label>
    </form>

{% endblock %}