{% extends 'base.twig' %}

{% block content%}
    <link rel="stylesheet" href="/BookShopMVC/node_modules/bootstrap/dist/js/bootstrap.js">
    <script defer src="js/person.js" ></script>

    <div class="row">
        <div class="col-4">
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Home</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a>
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content">
                <div class="tab-pane active" id="home" role="tabpanel">1</div>
                <div class="tab-pane" id="profile" role="tabpanel">2</div>
                <div class="tab-pane" id="messages" role="tabpanel">3.</div>
                <div class="tab-pane" id="settings" role="tabpanel">4</div>
            </div>
        </div>
    </div>

{% endblock %}