{% extends 'base.twig' %}

{% block content%}

    <form>
        <div class="form-group">
            <label >Название жанра</label>
            <input  type="text" class="form-control"  placeholder="Имя">
        </div>


        <div class="form-group">
            <div  class="btn btn-primary">Обновить</div>
        </div>
        <label></label>
    </form>

{% endblock %}