{% extends 'base.twig' %}

{% block content%}

    <script defer src="/BookShopMVC/public/js/book.js" ></script>

    <form method="POST">
        <div class="form-group">
            <label for="formGroupExampleInput">Название книги </label>
            <input name="bookTitle" type="text" class="form-control" id="formGroupExampleInput" placeholder="Название книги">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">ISBN</label>
            <input name="bookISBN" type="text" class="form-control" id="formGroupExampleInput2" placeholder="ISBN">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Кол-во страницы</label>
            <input name="bookPages" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Кол-во страниц">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Кол-во страниц</label>
            <input name="bookPrice" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Цена книги">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Кол-во в магазине</label>
            <input name="bookAmount" type="text" class="form-control" id="formGroupExampleInput2" placeholder="Кол-во книг">
        </div>

        <div class="form-group">
            <div id="errorInput" style=" display: none;" class="message alert alert-danger">Ошибка в данных!</div>
        </div>

        <div class="form-group">
            <button onclick="" class="btn btn-primary" >Добавить</button>
        </div>

        <div class="form-group">
            <div id="errorMessage" style=" display: none;" class="message alert alert-danger">Ошибка при добавлении !</div>
        </div>

        <div class="form-group">
            <div id="successMessage"  style=" display: none;" class="message alert alert-success">Книга успешно добавлена!</div>
        </div>

    </form>

{% endblock %}