{% extends 'public/base.twig' %}

{% block content%}
    <link rel="stylesheet" href="/BookShopMVC/node_modules/bootstrap/dist/js/bootstrap.js">
    <script defer src="js/person.js" ></script>

    <div class="row">
        <div class="col-3">
            <div class="list-group" id="myList" role="tablist">
                <a class="list-group-item list-group-item-action active" data-toggle="list" href="#person" role="tab">Личные данные</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#history" role="tab">История покупок</a>
                <a class="list-group-item list-group-item-action" data-toggle="list" href="#basket" role="tab">Корзина</a>

            </div>
        </div>
        <div class="col-9">
            <div class="tab-content">

                <div class="tab-pane active" id="person" role="tabpanel">
                    <div class="container-fluid">
                        <div class="row justify-content">
                            <div class="col text-left">
                                <h3>Личные данные:</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col col-lg-3 text-left" >
                                <p>Ваше имя:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>Иванов Иван Иванович</h6>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col col-lg-3  text-left">
                                <p>Электронная почта:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>ivanov@gmail.com</h6>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col col-lg-3 text-left">
                                <p>Телефон:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>89684125689</h6>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col col-lg-3 text-left">
                                <p>Адрес доставки:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>г.Москва, Красногорский б-р, д.17</h6>
                            </div>
                        </div>

                        <hr>
                        <div class="row justify-content">
                            <div class="col text-left">
                                <a href="#">Изменить личные данные</a>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col text-left">
                                <a href="#">Изменить пароль</a>
                            </div>
                        </div>



                    </div>
                </div>


                <div class="tab-pane" id="history" role="tabpanel">
                    <div class="row justify-content">
                        <div class="col text-left">
                            <h3>История покупок:</h3>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Фото</th>
                            <th scope="col">Название книги</th>
                            <th scope="col">Автор</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Дата операции</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyshsaKxkdC0mG0N7Zv4zn7FkIegiTtpK5kK3RSW9ffC5aIm8_" style="float: left; width: 50px"  alt="Cinque Terre">
                            </th>
                            <td>Война и мир</td>
                            <td>Толстой Л.Н.</td>
                            <td>250,20 руб.</td>
                            <td>14.08.2018</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="https://img.yakaboo.ua/media/catalog/product/cache/1/image/398x565/234c7c011ba026e66d29567e1be1d1f7/1/9/199357_43999127.jpg" style="float: left; width: 50px"  alt="Cinque Terre">
                            </th>
                            <td>Алые Паруса</td>
                            <td>Братья Гримм</td>
                            <td>300,00 руб.</td>
                            <td>30.04.2018</td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="https://coollib.com/i/94/418894/cover.jpg" style="float: left; width: 50px"  alt="Cinque Terre">
                            </th>
                            <td>Незнайка</td>
                            <td>Носов Н.В.</td>
                            <td>500,00 руб.</td>
                            <td>25.02.2018</td>
                        </tr>
                        </tbody>
                    </table>



                </div>



                <div class="tab-pane" id="basket" role="tabpanel">
                    <div class="row justify-content">
                        <div class="col text-left">
                            <h3>Корзина:</h3>
                        </div>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Фото</th>
                            <th scope="col">Товар</th>
                            <th scope="col">Цена</th>
                            <th scope="col">Колличество</th>
                            <th scope="col">Сумма</th>
                            <th scope="col">Отмена</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyshsaKxkdC0mG0N7Zv4zn7FkIegiTtpK5kK3RSW9ffC5aIm8_" style="float: left; width: 50px"  alt="Cinque Terre">
                            </th>
                            <td>
                                <div class="row justify-content text-left" style="margin-top: 5%" >

                                    <h5 >Война и мир</h5>

                                </div>
                                <div class="row justify-content text-дуае" >
                                    <h7 class="text-muted">Толстой Л.Н.</h7>
                                </div>

                            </td>
                            <td>
                                <div class="row justify-content text-дуае" >
                                    <h6 style="margin-top: 20px" >250,20 руб.</h6>
                                </div>
                            </td>
                            <td>
                                <select style="margin-top: 10px" class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                            <td>
                                <div class="row justify-content text-дуае" >
                                    <h6 style="margin-top: 20px" >500,40 руб.</h6>
                                </div>
                            </td>
                            <td>
                                <div style="margin-top: 10px" class="btn btn-danger">Удалить</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyshsaKxkdC0mG0N7Zv4zn7FkIegiTtpK5kK3RSW9ffC5aIm8_" style="float: left; width: 50px"  alt="Cinque Terre">
                            </th>
                            <td>
                                <div class="row justify-content text-left" style="margin-top: 5%" >

                                    <h5 >Война и мир</h5>

                                </div>
                                <div class="row justify-content text-дуае" >
                                    <h7 class="text-muted">Толстой Л.Н.</h7>
                                </div>

                            </td>
                            <td>
                                <div class="row justify-content text-дуае" >
                                    <h6 style="margin-top: 20px" >250,20 руб.</h6>
                                </div>
                            </td>
                            <td>
                                <select style="margin-top: 10px" class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                            <td>
                                <div class="row justify-content text-дуае" >
                                    <h6 style="margin-top: 20px" >500,40 руб.</h6>
                                </div>
                            </td>
                            <td>
                                <div style="margin-top: 10px" class="btn btn-danger">Удалить</div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyshsaKxkdC0mG0N7Zv4zn7FkIegiTtpK5kK3RSW9ffC5aIm8_" style="float: left; width: 50px"  alt="Cinque Terre">
                            </th>
                            <td>
                                <div class="row justify-content text-left" style="margin-top: 5%" >

                                    <h5 >Война и мир</h5>

                                </div>
                                <div class="row justify-content text-дуае" >
                                    <h7 class="text-muted">Толстой Л.Н.</h7>
                                </div>

                            </td>
                            <td>
                                <div class="row justify-content text-дуае" >
                                    <h6 style="margin-top: 20px" >250,20 руб.</h6>
                                </div>
                            </td>
                            <td>
                                <select style="margin-top: 10px" class="form-control" id="exampleFormControlSelect1">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                </select>
                            </td>
                            <td>
                                <div class="row justify-content text-дуае" >
                                    <h6 style="margin-top: 20px" >500,40 руб.</h6>
                                </div>
                            </td>
                            <td>
                                <div style="margin-top: 10px" class="btn btn-danger">Удалить</div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row justify-content">
                        <div class="col-md-7 text-left">
                            <div class="btn btn-primary">ОФОРМИТЬ ЗАКАЗ</div>
                        </div>
                        <div class="col-md-5 text-right">
                            <h4 style="text-align: right">Итого: 500,00 руб.</h4>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

{% endblock %}