{% extends 'public/base.twig' %}

{% block content%}
    <link rel="stylesheet" href="/BookShopMVC/node_modules/bootstrap/dist/js/bootstrap.js">
    <script defer src="js/person.js" ></script>

    <div class="row justify-content-center">
        <div class="col-10">
            <div class="tab-content">

                <div class="tab-pane active" id="person" role="tabpanel">
                    <div class="container-fluid">
                        <div class="row justify-content">
                            <div class="col text-left">
                                <h3>Личные данные:</h3>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col col-lg-3 text-left" >
                                <p>Ваше имя:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>Иванов Иван Иванович</h6>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col col-lg-3  text-left">
                                <p>Электронная почта:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>ivanov@gmail.com</h6>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col col-lg-3 text-left">
                                <p>Телефон:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>89684125689</h6>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col col-lg-3 text-left">
                                <p>Адрес доставки:</p>
                            </div>
                            <div class="col-md-auto text-left">
                                <h6>г.Москва, Красногорский б-р, д.17</h6>
                            </div>
                        </div>

                        <hr>
                        <div class="row justify-content">
                            <div class="col text-left">
                                <a href="#">Изменить личные данные</a>
                            </div>
                        </div>
                        <div class="row justify-content">
                            <div class="col text-left">
                                <a href="#">Изменить пароль</a>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

{% endblock %}